
.header-area {
    background-color: rgb(255, 237, 121);
    display: flex;
}

.nav-area {
    width: 20%;
    text-align: center;
    align-content: center;
    border-right: 1px solid;
    border-width: thin;
}

.link-area {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.favo-area {
    width: 80%;
    text-align: center;
}

.card-btn-area {
    display: flex;
    justify-content: center;
}

.card-area {
    display: flex;
    justify-content: center;
}

.edit-btn {
    width: 6em;
    height: 2em;
    position: absolute;
    right: 0;
    margin-right: 20px;
}
