
.modal-overlay {
  position: fixed;
  z-index: 1;

  width: 36%;
  height: 45%;
  margin-top: 5px;

  background-color: whitesmoke;
  text-align: center;

  border: 1px solid;
  border-radius: 40%;
  box-shadow: 0 5px 5px #bcbec2;
}

.modal-overlay .id-name {
  display: flex;
  justify-content: center;
  margin-top: 8px;
  margin-bottom: -8px;
}

.modal-overlay p {
  font-weight: bold;
  margin: 10px;
}

.modal-overlay img {
  width: 180px;
}

.close-btn {
  font-size: 30px;
  font-weight: bold;

  background: none;
  cursor: pointer;
}

@media (max-width: 768px) {
  .modal-overlay {
    height: 40%;
  }
}

@media (max-width: 431px) {
  .modal-overlay {
    width: 53%;
    height: 30%;
  }

  .close-btn {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 1em;
  }
}
