
.search-result .base-info {
  text-align: center;
}

.search-result .base-info p,
.search-result .base-info h3,
.search-result .sub-info p {
  margin: 0;
}

.search-result .base-info img {
  width: 120px;
  margin-top: 8px;
}

.search-result .sub-info {
  margin-top: 12px;
}
